---
import Layout from "../layouts/Layout.astro";
---

<Layout title="👋 Meet yrt">
    <header class="mx-5 mt-5 mb-10 md:mb-20 lg:mx-10">
        <div class="flex items-center justify-between">
            <div>
                <img class="h-12" src="/yrt.png" alt="logo" />
            </div>
            <div>
                <a
                    id="gh-btn"
                    class="inline-block rounded border border-white px-12 py-3 text-sm font-medium text-white hover:bg-white hover:text-black focus:outline-none focus:ring"
                    href="https://github.com/yrt-app"
                    target="_blank"
                >
                    GitHub 🌟
                </a>
            </div>
        </div>
    </header>
    <main class="min-w-1000px max-w-full p-5">
        <div>
            <h1 class="text-5xl md:text-6xl">
                Hi 👋, meet <span class="text-gradient">yrt</span>
            </h1>
            <p class="instructions text-lg md:text-xl">
                There are tons of meeting apps out there, but
                <strong>yrt</strong>
                is different - We are simple, open and private.
                <br />
                <br />
                <strong>(1)</strong> We focus on helping you to collaborate so you
                can focus on what you are doing.
                <br />
                <strong>(2)</strong> The project is built by the community, for the
                community. All source code is released under open source licences
                and the infrastructure is easy to self-host.
                <br />
                <strong>(3)</strong> We are a purpose-driven project. Our goal is
                to build the best real-time collaboration tool possible. Your personal
                data belongs to you, we will never track your data.
            </p>
        </div>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        width: 1000px;
        color: white;
        font-size: 20px;
        line-height: 1.5;
    }
    #gh-btn {
        box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.15);
    }
    .astro-a {
        position: absolute;
        top: -32px;
        left: 50%;
        transform: translatex(-50%);
        width: 220px;
        height: auto;
        z-index: -1;
    }
    h1 {
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 1em;
    }
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
    .instructions {
        margin-bottom: 2rem;
        border: 1px solid rgba(var(--accent-light), 25%);
        background: linear-gradient(
            rgba(var(--accent-dark), 66%),
            rgba(var(--accent-dark), 33%)
        );
        padding: 1.5rem;
        border-radius: 8px;
    }
    .instructions code {
        font-weight: bold;
        background: rgba(var(--accent-light), 12%);
        color: rgb(var(--accent-light));
        border-radius: 4px;
        padding: 0.3em 0.4em;
    }
    .instructions strong {
        color: rgb(var(--accent-light));
    }
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 2rem;
        padding: 0;
    }
</style>
