<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="yrt - Real-time collaboration" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>👋 Meet yrt</title>
    </head>
    <body>
        <div
            class="bg-neutral-950 font-sans text-white h-screen flex flex-col sm:items-center sm:justify-center"
        >
            <div class="sm:w-[600px] sm:h-auto h-screen flex flex-col">
                <div class="flex justify-between h-12 border-b">
                    <div class="w-12 p-2 border-r">
                        <img src="/yrt.svg" alt="logo" />
                    </div>
                    <div class="border-l hover:bg-white hover:text-black">
                        <a
                            class="h-full flex justify-center items-center px-10 text-center text-lg font-medium"
                            href="https://github.com/yrt-app"
                            target="_blank"
                        >
                            GitHub
                        </a>
                    </div>
                </div>
                <div class="flex flex-1">
                    <div class="sm:flex-none min-w-12 border-r"></div>
                    <div class="sm:flex-initial flex-1 p-5">
                        <h1 class="text-4xl mb-8 font-bold">
                            Hi 👋, meet <span class="text-gradient">yrt</span>
                        </h1>
                        <p class="instructions text-stone-300 text-lg">
                            There are tons of meeting apps out there, but
                            <strong>yrt</strong>
                            is different. We are simple, open and private.
                            <br />
                            <br />
                            <strong>(1)</strong> We focus on helping you to collaborate
                            so you can focus on something else.
                            <br />
                            <strong>(2)</strong> We build for the community. All
                            source code is released under open source licences and
                            the infrastructure is easy to self-host.
                            <br />
                            <strong>(3)</strong> We are a purpose-driven project.
                            Our goal is to build the best real-time collaboration
                            tool possible. Our users are not the product.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<style>
    .text-gradient {
        background-image: linear-gradient(
            -45deg,
            #6200ff,
            #bb0087,
            #7d00bb,
            #bb009d
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 600%;
        animation: gradient 15s ease infinite;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        25% {
            background-position: 50% 100%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
</style>
