---
import Layout from "../layouts/Layout.astro";
---

<Layout title="👋 Meet yrt">
    <header class="mx-5 mt-5 mb-5 md:mb-20 lg:mx-10">
        <div class="flex items-center justify-between">
            <div>
                <img class="h-11" src="/yrt.svg" alt="logo" />
            </div>
            <div>
                <a
                    id="gh-btn"
                    class="inline-block border rounded px-12 py-3 text-md font-medium text-white border-[#444444]"
                    href="https://github.com/yrt-app"
                    target="_blank"
                >
                    GitHub ⭐️
                </a>
            </div>
        </div>
    </header>
    <main class="min-w-1000px max-w-full p-5">
        <div>
            <h1 class="text-5xl mb-8 md:mb-12 md:text-6xl">
                Hi 👋, meet <span class="text-gradient">yrt</span>
            </h1>
            <p class="instructions text-lg md:text-xl">
                There are tons of meeting apps out there, but
                <strong>yrt</strong>
                is different - We are simple, open and private.
                <br />
                <br />
                <strong>(1)</strong> We focus on helping you to collaborate so you
                can focus on something else.
                <br />
                <strong>(2)</strong> We build for the community. All source code
                is released under open source licences and the infrastructure is
                easy to self-host.
                <br />
                <strong>(3)</strong> We are a purpose-driven project. Our goal is
                to build the best real-time collaboration tool possible. Your personal
                data belongs to you, we will never track your data.
            </p>
        </div>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        width: 1000px;
        color: white;
        font-size: 20px;
        line-height: 1.5;
    }
    .astro-a {
        position: absolute;
        top: -32px;
        left: 50%;
        transform: translatex(-50%);
        width: 220px;
        height: auto;
        z-index: -1;
    }
    h1 {
        font-weight: 700;
        line-height: 1;
        text-align: center;
    }
    #gh-btn:hover {
        background: var(--accent-gradient);
        background-size: 600%;
        animation: gradient 15s ease infinite;
    }
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 600%;
        animation: gradient 15s ease infinite;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        25% {
            background-position: 50% 100%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    .instructions {
        margin-bottom: 2rem;
        border: 1px solid rgba(var(--accent-light), 25%);
        background: linear-gradient(
            rgba(var(--accent-dark), 66%),
            rgba(var(--accent-dark), 33%)
        );
        padding: 1.5rem;
        border-radius: 8px;
    }
    .instructions code {
        font-weight: bold;
        background: rgba(var(--accent-light), 12%);
        color: rgb(var(--accent-light));
        border-radius: 4px;
        padding: 0.3em 0.4em;
    }
    .instructions strong {
        color: rgb(var(--accent-light));
    }
</style>
