<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="yrt - Real-time collaboration" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>👋 Meet yrt</title>
    </head>
    <body class="bg-neutral-950">
        <div
            class="font-sans text-white h-screen flex md:items-center md:justify-center"
        >
            <div class="md:w-[600px]">
                <div
                    class="flex justify-between h-12 border-b border-[#444444]"
                >
                    <div class="w-12 p-2 border-r border-[#444444]">
                        <img src="/yrt.svg" alt="logo" />
                    </div>
                    <div
                        class="border-l border-[#444444] text-blue-500 hover:bg-white hover:text-black"
                    >
                        <a
                            class="h-full flex justify-center items-center px-10 text-center text-lg"
                            href="https://github.com/yrt-app"
                            target="_blank"
                        >
                            GitHub
                        </a>
                    </div>
                </div>
                <div class="flex">
                    <div
                        class="flex-none md:min-w-12 w-0 md:border-r border-[#444444]"
                    >
                    </div>
                    <div class="flex-initial p-5">
                        <h1 class="text-4xl mb-8 font-bold">
                            Hi 👋, meet <span class="text-gradient">yrt</span>
                        </h1>
                        <p class="text-stone-300 text-lg">
                            There are tons of meeting apps out there, but
                            <strong>yrt</strong> is different. We are
                            <strong>simple</strong>, <strong>open</strong> and
                            <strong>private</strong>.
                        </p>
                        <ul class="features mt-4 text-stone-300 text-lg">
                            <li>
                                We focus on helping you to collaborate so you
                                can focus on something else.
                            </li>
                            <li>
                                We build for the community. All source code is
                                released under open source licences and the
                                infrastructure is easy to self-host.
                            </li>
                            <li>
                                We are a purpose-driven project. Our goal is to
                                build the best real-time collaboration tool
                                possible. Our users are not the product.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<style>
    .features {
        list-style: emojis;
        list-style-position: inside;
    }
    @counter-style emojis {
        system: fixed;
        symbols: "😎" "🤩" "🤫";
        suffix: " ";
    }
    .text-gradient {
        background-image: linear-gradient(
            -45deg,
            #6200ff,
            #bb0087,
            #7d00bb,
            #bb009d
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 600%;
        animation: gradient 15s ease infinite;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        25% {
            background-position: 50% 100%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
</style>
